*{
    margin: 0;
    padding: 0;
}

.icon{
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

.icon ul li{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: auto 50px;
    box-shadow: 3px 3px 10px #aeaeae, -4px -4px 10px #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #333;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.icon ul li:nth-child(1):hover{
    color: #eee;
    border-radius: 50%;
    background-color: #c13584;
}

.icon ul li:nth-child(2):hover{
    color: #eee;
    border-radius: 50%;
    background-color: rgb(8, 211, 18);
}